.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  min-height: 105px;
  padding: 18px;
  padding-left: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
