* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  padding-top: 36px;
  margin: 0;
  height: 100vh;
  font-size: 14px;
  line-height: 16px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: #000;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 22%,
    #d2333e 22%,
    #f54b55 50%,
    white 50%,
    white 100%
  );
}

a {
  text-decoration: none;
}

button,
input {
  font-family: "Open Sans", Helvetica, sans-serif;
}
